<p><a href="/tools">Complete List of Tools</a></p>

<h1>The Workshop Collective</h1>
<a href="/sheds/new">New Shed</a>

<h2>One Shed, Many Tools</h2>

<% @shed.each do |shed| %>
    
    <h3><%= link_to shed.name, "/sheds/#{shed.id}" %></h3>
    <p><%= link_to "Update", "/sheds/#{shed.id}/edit", method: :get %></p>
    <p>Hosting tools since: <%= shed.created_at %></p>

<% end %>




