<p><a href="/tools">Complete List of Tools</a></p>

<h1>Welcome to the Workshop Collective</h1>
<a href="/sheds/new">New Shed</a>


<h2>One Shed, Many Tools</h2>
<% @shed.each do |shed| %>
  
    <h3><a href="/sheds/<%= shed.id %>"><%= shed.name %></a></h3>
    <p>Hosting tools since: <%= shed.created_at %></p>

<% end %>




