<h1> Tools of <%= @shed.name %></h1>

<% @tools.each do |tool| %>

  <p> Name: <%= tool.tool_name %></p>
  <p> Description: <%= tool.description %></p>
  <p> Available: <%= tool.available %></p>

<% end %>

<a href="/sheds">Back to Sheds</a>
